text {
  font: .6em sans-serif;
}

body .ui-autocomplete {
	color: black;
	list-style: none;
	padding-top: .2em;
	padding-left: .5em;
	float: left;
	background: white;
	border-radius: .5em;
	font-family: 'sans-serif', 'Helvetica Neue', Proxima, Arial;
	font-size: .9em;
}

.ui-autocomplete li:hover
{
	font-weight: bold;
    color: white;
    background-color: #C7C7EE;
    outline:none;
    border-radius: .5em;
    cursor: pointer;
}

#story_title{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	color: white;
	float: left;
	font-family: 'sans-serif', 'Helvetica Neue', Proxima, Arial;
	font-size: .9em;
	font-weight: bold;
	border: solid 2px;
	border-radius: .5em;
}

#info{
	visibility: hidden;
	width: 33%;
	float: left;
	padding-top: 7em;
	font-family: 'sans-serif', 'Helvetica Neue', Proxima, Arial;
}

.info_group{
	float: left;
	width: 100%;
	min-height: 5em;
}

.info_title{
	color: black;
	font-weight: bold;
}

#searchbar{
	float: left;
}

#bubble{
	float: right;
}

#BubbleViz font{
	padding-top: 0;
	color: white;
}
