text {
  font: 10px sans-serif;
},


html, body {
	width: 100%;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #94a4ab;
}

body {
	background: #5babb9;
	font-family: 'Oxygen', sans-serif;
}

h1 {
	font-weight: 300;
	color: #94a4ab;
	margin: 1.5em auto;
}

h2 {
	color: #535b63;
	font-size: 1.5em;
	font-weight: 400;
}

h3 {
	color: #535b63;
	font-size: 1em;
	font-weight: 400;
}

h4 {
	color: #535b63;
	font-size: 1.5em;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

h5 {
	color: #535b63;
	font-size: 1em;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

p {
	color: #535b63;
	/*size: 1em;*/
	line-height: 2em;
	font-weight: 300;
	letter-spacing: 0.05em;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

li {
	color: #94a4ab;
	display: inline-block;
	margin-left: 1em;
	padding: 0;
}

div {
	padding: 2em;
}

nav { 
	text-align: right;
	position: absolute;
	z-index: 5;
	background-image: url('../img/glass.png');
/*		background: #f2f3f3;*/
	height: auto;
	min-height: 40px;
	width: 100%;
	-webkit-transition: 500ms;
	/*padding-right: 30px;*/
}

nav ul {
	/*position: absolute;*/
	padding-top: 1%;
	padding-right: 3%;
	/*left: 0px;*/
	text-transform: uppercase;
}

nav a:hover {
	color: #5babb9;
}